%h1= "Preview for #{@preview.name}"

.well= link_to @preview.url, @preview.url

#preview
  .panel-body
    %dl.clearfix
      %dt.col-lg-2 Artist
      %dd.col-lg-10= @preview.track.artist
      %dt.col-lg-2 Title
      %dd.col-lg-10= @preview.track.title
