%h1 Admin::Stations#index

.row
  .col-md-12
    %table.table.table-sm.table-condensed.table-hover
      %thead
        %tr
          %th Name
          %th Url
          %th
      %tbody
        - @stations.each do |station|
          %tr{id: "station_#{station.id}"}
            %td= station.name
            %td= station.url
            %td
              = edit_button edit_admin_station_path(station)
              = delete_button admin_station_path(station)
    = add_button new_admin_station_url, "New"
