!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Home"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "no description"}", :name => "description"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = link_to "Home", root_path, :class => 'brand'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              - flash.each do |name, msg|
                - if msg.is_a?(String)
                  %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                    %a.close{"data-dismiss" => "alert"} ×
                    = content_tag :div, msg, :id => "flash_#{name}"
              = yield
          %footer
      / ! end of .container
    / ! end of #main
